@model CheckoutModel

<div class="Checkcontainer">
        <h1 class="h1ch">You are ordering from '@Model.Restaurant.Name'</h1>
        <p class="pch">Please enter your reservation details</p>
        <form method="post" action="/restaurant/PostCheckout">
            <input name="restaurantId" type="number" value="@Model.RestaurantId" hidden />
            <label>Customer Name</label>
            <input name="fullname" type="text" value="@Model.FullName" />
            <label>Address</label>
            <input name="address" type="text" value="@Model.Address" />
            <label>Reservation Date</label>
            <input name="reservationDate" type="datetime" value="@Model.ReservationDate" />
            <div class="button-container">
                <button class="buttonch">Submit Reservation</button>
            <button class="buttonch " onclick="location.href='/'">Cancel</button>
            </div>
        </form>
    </div>