@model RestaurantViewProductModel

<div>
    <a href="/"><- Back</a>
    <h1>@Model.Restaurant.Name</h1>
    <p>Description: @Model.Restaurant.Description | Located at @Model.Restaurant.Locaton</p>
    <div>
        <button onclick="location.href='/restaurant/cart/@Model.Restaurant.RestaurantId'">My Orders(@Model.CartSize)</button>
    </div>
    <hr />
    <h3>Products</h3>
    <div>
        @foreach (var prod in @Model.ProductList)
        {
            <h1>@prod.Name | Price: PHP @prod.Price</h1>
            <p>Description: @prod.Description</p>
            <p>Stocks: @prod.Stock</p>
            <button onclick="location.href='/restaurant/order?restaurantId=@Model.Restaurant.RestaurantId&productId=@prod.ProductId&quantity=1'">Add to Cart (Pre-Order)</button>
        }
    </div>
</div>