@model RestaurantViewProductModel


<div class="Rescontainer">
    <div style="text-align: left; margin-top:10px;">
        <button onclick="location.href='/'" class="back-btn">Back</button>
    </div>
    <div style="text-align: right; display: block; ">
        <button class="add-to-cart-btn" onclick="location.href='/restaurant/cart/@Model.Restaurant.RestaurantId'">My Orders (@Model.CartSize)</button>
    </div>
    <h1>@Model.Restaurant.Name</h1>
    <p>Description: @Model.Restaurant.Description | Located at @Model.Restaurant.Locaton</p>
    <hr />
    <h3 >Products</h3>
    <div>
        @foreach (var prod in Model.ProductList)
        {
            <div class="product">
                <h1>@prod.Name | Price: PHP @prod.Price</h1>
                <p>Description: @prod.Description</p>
                
                <button class="add-to-cart-btn" onclick="addtocart(@Model.Restaurant.RestaurantId, @prod.ProductId, '@prod.Name')">Add to Cart</button>

            </div>
        }
    </div>
</div>

<script>
    function addtocart(restaurantId, productId, foodname) {
        alert(foodname + " was added to order")
        location.href = '/restaurant/order?restaurantId=' + restaurantId + '&productId=' + productId + '&quantity=1'
    }
</script>